
apiVersion: apps/v1
kind: Deployment
metadata:
  name: marks-api
  labels:
    app: marks-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: marks-api
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: marks-api
    spec:
      containers:
      - name: marks-api
        image: 10.131.103.92:8090/kp1/marks-api:__IMAGE_TAG__
        imagePullPolicy: Always
        ports:
        - containerPort: 4000
        readinessProbe:
          httpGet:
            path: /health
            port: 4000
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 2
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /health
            port: 4000
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 3
      imagePullSecrets:
        - name: regcred

