apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: student-api
  template:
    metadata:
      labels:
        app: student-api
    spec:
      containers:
      - name: student-api
        image: 10.131.103.92:8090/kp1/student-api:__IMAGE_TAG__
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
